**/__pycache__
new_ckpt.py 
run.sh
**/_two_stream_cwm/
wandb/
eval_results
*.egg-info/
checkpoints/
eval_data/
ckpt.py
eval.sh
train.sh
**/video_file_lists
misc/
.cache/
datasets/
consolidation/
scripts/run_labels.sh
configs/label_cfg.yaml
label_flow.py